<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFL</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    


    <header>
        <h1>Mi Aplicación de la NFL</h1>
        <nav>
            
                <a href="lista_equipos.html">Lista de Equipos</a>
                <a href="lista_ciudades.html">Lista de Ciudades</a>
                <a href="lista_estadios.html">Lista de Estadios</a>
            
        </nav>
    </header>



    <head>
        <style>

            a:link{
                border: 1px solid #252525;
                padding: 15px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
              }
              
            a:hover{
                background-color: #252520;
                color: #ffffff;
              }
    
        </style>
    </head>
    


    
    <footer>
        Derechos de autor © {{ 2023 }} Valeria Manrrique
    </footer>

    
</body>
</html>

