{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Crear Estadio</title>
</head>
<body>
    <h1>Crear Nuevo Estadio</h1>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-outline-success" value="Guardar">
        <a href="{% url 'lista_estadios' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
</body>
</html>


