{% extends "base.html" %}
!DOCTYPE html>
<html>
<head>
    <title>Crear Registro</title>
</head>
<body>
    <h1>Crear Ciudad</h1>
    <form action=" " method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="nombre">Nombre de la ciudad:</label>
        <input type="text" name="nombre" id="nombre">
        <input type="submit" class="btn btn-outline-success" value="Crear">
        <a href="{% url 'lista_ciudades.html' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>

   
    