<!DOCTYPE html>
<html>
<head>
    <title>Crear Registro</title>
</head>
<body>
    <h1>Crear Equipo</h1>
    <form action=" " method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre">
        <label for="Ubicacion">Ubicacion:</label>
        <input type="Ubicacion" name="Ubicacion" id="Ubicacion">
        <input type="submit" class="btn btn-outline-success" value="Crear">
        <a href="{% url 'lista_equipos.html' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>

