{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Detalles del Estadio</title>
</head>
<body>
    <h1>Detalles del Estadio</h1>
    <h2>Nombre: {{ estadio.nombre }}</h2>
    <p>Ciudad: {{ estadio.ciudad }}</p>
    <p>Equipo: {{ estadio.equipo }}</p>
    <a href="{% url 'lista_estadios' %}">Volver</a>
</body>
</html>




