
{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Detalles del Equipo</title>
</head>
<body>
    <h1>Detalles del Equipo</h1>
    <h2>Nombre: {{ equipo.nombre }}</h2>
    <p>Entrenador: {{ equipo.entrenador }}</p>
    <p>Estadio: {{ equipo.estadio }}</p>
    <h1>Ciudad: </h1>{{ equipo.ciudad }}
    <a href="{% url 'lista_equipos.html' %}">Regresar</a>
</body>
</html>





