{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Detalles de Ciudad</title>
</head>
<body>
    <h1>Detalles de la Ciudad</h1>
    <h2>Nombre: {{ ciudad.nombre }}</h2>
    <p>País: {{ ciudad.pais }}</p>
    <p>ID: {{ ciudad.id }}</p>
    <a href="{% url 'lista_ciudades.html' %}">Regresar</a>
</body>
</html>

