{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Editar Ciudad</title>
</head>
<body>
    <h1>Actualizar Ciudad</h1>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-outline-primary" value="Guardar Cambios">
        <a href="{% url 'lista_ciudades.html' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
</body>
</html>
