{% extends "base.html" %}
<html>
<head>
    <title>Editar Registro</title>
</head>
<body>
    <h1>Editar Equipos</h1>
    <form action=" " method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre">
        <label for="Nuevo">Nuevo:</label>
        <input type="Nuevo" name="Nuevo" id="Nuevo">
        <input type="submit" class="btn btn-outline-primary" value="Guardar Cambios">
        <a href="{% url 'lista_equipos.html' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
</body>
</html>
