{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Eliminar Ciudad</title>
</head>
<body>
    <h1>¿Estás seguro de que deseas eliminar la ciudad '{{ ciudad.nombre }}'?</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-outline-danger" value="Sí, Eliminar">
        <a href="{% url 'lista_ciudades.html' %}">Cancelar</a>
    </form>
</body>
</html>


       