{% extends "base.html" %}
<html>
<head>
    <title>Eliminar Registro</title>
</head>
<body>
    <h1>Eliminar equipo</h1>
    <p>¿Estás seguro de que deseas eliminar este registro?</p>
    <form action=" " method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-outline-danger" value="Sí, Eliminar">
        <a href="lista_equipos.html">Cancelar</a>
    </form>
</body>
</html>
