{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
    <title>Eliminar Estadio</title>
</head>
<body>
    <h1>¿Estás seguro de que deseas eliminar el estadio '{{ estadio.nombre }}'?</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-outline-danger" value="Sí, Eliminar">
    </form>
    <a href="{% url 'lista_estadios' %}" class="btn btn-outline-warning">Cancelar</a>
</body>
</html>


