<!DOCTYPE html>
<html>
<head>
    <title>Lista de Ciudades con Equipos en la NFL</title>
   
    <body>
        <h1>Lista de Ciudades</h1>
        <a href="{% url 'crear_ciudad.html' %}" class="btn btn-outline-success form-control">Crear nueva ciudad</a>
        <table class="table table-striped table-hover">
            <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th></th>
                <th>Acciones</th>
                <th></th>
    
            </thead>
            <tbody>
                {% for Ciudad in Ciudad %}
                    <tr>
                        <td>{{ Ciudad.id }}</td>
                        <td>{{ Ciudad.Nombre }}</td>
                        <td><a href="{% url 'detalles_ciudad.html' Ciudad.id %}" class="btn btn-outline-info"> Detalles </a></td>
                        <td><a href="{% url 'editar_ciudad.html' Ciudad.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                        <td><a href="{% url 'eliminar_ciudad.html' Ciudad.id %}" class="btn btn-outline-danger">Borrar</a></td>
                    </tr>
    </body>
    </html>
    
