{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Estadios de la NFL</title>
    
</head>
<body>
    <h1>Estadios de la NFL</h1>
    <a href="{% url 'crear_estadio.html' %}" class="btn btn-outline-success form-control">Nuevo estadio</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th></th>
            <th>Acciones</th>
            <th></th>

        </thead>
        <tbody>
            {% for Estadio in Estadio %}
                <tr>
                    <td>{{ Estadio.id }}</td>
                    <td>{{ Estadio.Nombre }}</td>
                    <td><a href="{% url 'detalles_estadio.html' Estadio.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'editar_estido.html' Estadio.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'eliminar_estadio.html' Estadio.id %}" class="btn btn-outline-danger">Borrar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>




  