{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Equipos en la NFL</title>
</head>
<body>
    <h1>Lista de Equipos</h1>
    <a href="{% url 'crear_equipo.html' %}" class="btn btn-outline-success form-control">Crear un nuevo equipo</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th></th>
            <th>Acciones</th>
            <th></th>

        </thead>
        <tbody>
            {% for Equipo in Equipo %}
                <tr>
                    <td>{{ Equipo.id }}</td>
                    <td>{{ Equipo.Nombre }}</td>
                    <td><a href="{% url 'detalles_equipo.html' Equipo.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'editar_equipo.html' Equipo.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'eliminar_equipo.html' Equipo.id %}" class="btn btn-outline-danger">Borrar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>



